.header-checkout {
  justify-self: stretch;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 0 2rem;
}
.color-gray {
  color: #777;
}
.font-weight-bold {
  font-weight: bold;
}
/* .checkout {
  background-color: #f2f2f2;
} */
.color-bg-gray {
  background-color: #f2f2f2;
}
.checkout-form {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 2rem;
}
.checkout-form label {
  font-weight: bold;
}
.checkout-form > div {
  background-color: var(--color-white);
  padding: 2.4rem;
  border-radius: 0.8rem;
}
.checkout-form h1 {
  font-size: 3.2rem;
}
.checkout-form h2 {
  font-size: 1.6rem;
}
.checkout-form h3 {
  font-size: 1.4rem;
}
.checkout-details {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.form-group > h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
}

.form-group > div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.shipping-address > div:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
}
.payment-details > div:last-of-type {
  grid-column-start: -1;
  grid-column-end: -2;
}
.payment-details > div:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.cash-delivery {
  grid-column-start: -1;
  grid-column-end: -2;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}
.e-money {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}
/* checkout summary --------------------------------------------- */
.checkout-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: start;
  align-self: start;
}
.checkout-items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.checkout-items > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.checkout-items > li img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 0.4rem;
}
.checkout-items > li > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
}
.checkout-summary > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.checkout-summary > div:last-of-type {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 1rem 0;
}
.checkout-grand-total-price {
  font-weight: bold;
  font-size: 2.4rem;
}
/* check out modal */
.checkout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.checkout-modal-content {
  position: absolute;
  width: 60rem;
  top: 50%;
  left: 50%;
  padding: 4.4rem;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 0.8rem;
}
.checkout-modal-content > div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.checkout-modal-items {
  width: 60%;
  display: flex;
  flex-direction: column;

  padding: 2.4rem;

  background-color: #f1f1f1;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.checkout-modal-items img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 0.4rem;
}
.checkout-modal-item {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;

  padding-bottom: 1.6rem;
}
.checkout-modal-total {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2.4rem;
  gap: 1.6rem;
  background-color: var(--color-dark);
  color: var(--color-white);

  border-bottom-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.checkout-modal-item-more {
  color: #777;
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 1.6rem;
  border-top: 1px solid #ddd;
  text-align: center;
}
@media (min-width: 1224px) {
  .header-checkout {
    padding: 0 20%;
  }
  .checkout {
    padding: 5% 0;
  }
}

@media (max-width: 431px) {
  .header-checkout {
    padding: 0 1rem;
  }
  .checkout-form {
    grid-template-columns: 1fr;
  }
  .checkout-form > div {
    width: 100%;
  }
  .checkout-modal-content {
    width: 90%;
    padding: 1.4rem;
  }
  .checkout-modal-items {
    width: 65%;
    padding: 0.8rem;
  }
  .checkout-modal-items img {
    width: 3.2rem;
    height: 3.2rem;
  }
  .checkout-modal-item-details {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .checkout-modal-item-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .checkout-modal-total {
    width: 35%;
  }
}
